* {
  font-family: copperplate-bold;
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: 14pt;

  -ms-touch-action: pan-x pan-y;
  touch-action: manipulation;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

body.fixed {
  overflow-y: hidden;
}

.section {
  width: 100vw;
  background-color: #F1F1F1;
  overflow: hidden;
  color: #444;
}

.button, .select, .options, .dialog-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  height: 70px;
  width: 100%;
  padding-left: 50px;
  padding-top: 20px;
  box-shadow: 0 0 5px #AAA;
}

.header-menu {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin-right: 50px;
  font-size: 12pt;
  padding-bottom: 2px;
  border-bottom: 5px solid transparent;
}

.header-menu:hover {
  border-bottom: 5px solid black;
}

.header-menu.selected {
  border-bottom: 5px solid black;
}

.container {
  padding: 100px 0;
}

form {
	width: 605px;
	margin: 50px auto 0;
	display: block;
}

.form-item {
	width: 100%;
	margin-bottom: 50px;
}

.form-question, .form-answer {
	display: inline-block;
}

.form-question {
	width: 200px;
}

.form-answer {
	width: 400px;
}

input.form-input {
	padding: 10px;
	width: 100%;
}

.select {
	position: relative;
  width: 300px;
  height: 45px;
	padding: 10px;
	box-shadow: 0 0 5px #999;
	cursor: pointer;
	z-index: 100;
}

.select-icon {
	width: 30px;
	height: 30px;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 8px;
	right: 10px;
}

.options {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	padding: 10px 0;
	box-shadow: 0 0 5px #999;
	display: none;
	background-color: white;
}

.select.show .options {
	display: block;
}

.option {
	padding: 10px;
	cursor: pointer;
}

.option:hover {
	background-color: #DDD;
}

.button {
	padding: 10px 20px;
	background-color: #1E88E5;
	color: white;
	width: 200px;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	box-shadow: 0 0 5px #999;
}

.button:hover {
	background-color: #1565C0;
}

@media all and (max-width: 1279px) {
  .div-mobile {
    display: block;
  }

  .section {
    height: 160vw;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {

}

@media all and (min-width: 1280px) {
  .div-mobile {
    display: none;
  }

  .section {
    height: 100vh;
  }
}

.highcharts-title tspan {
  font-size: 20pt;
  font-weight: bold;
}

@media print {
  .header, .button, .dataTables_length, .dataTables_filter, .dataTables_paginate {
    display: none !important;
  }

  .container {
    padding-top: 0;
  }

  
}